  img[src="images/profile.jpg"] {
	width:200px;
	height:auto; 
	float:left; 
	padding-right: 20px;
}
 .navbar {
 	border-bottom-style: solid;
 	border-bottom-color: #dddddd;
 	border-bottom-width: 1.5px;
 	background-color: white;
 }
 .navbar-right {
 	padding-right: 100px;
 }
 .collapse {
    display: unset;
}
 h1 {
 	 color:#4aaaa5;
 	 font-family: 'Georgia', Times, Times New Roman, serif;
 }
 h2{

 	 color:white;
 	 font-family: 'Georgia', Times, Times New Roman, serif; 
 	 background-color: #4aaaa5; 
 	 font-size: 36px;
 	 padding: 20px;
 	 margin: 0px;
 }

 h3 {
 	color:#4aaaa5;
 	font-family: 'Georgia', Times, Times New Roman, serif;
 	text-align:center;
 }
h4 {
	 font-color:blue; 
	 position:absolute; 
	 top:65%; width:92%; 
	 background-color: #4aaaa5; 
	 color:white; padding: 20px; 
	 text-align: center;
}

 .social-icons {
 	display: block; 
 	margin-left: 25%; 
 	margin-right: auto;
 }

 #fname, #lname, #message {
 	width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
			font-size:22px; 
            font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 }
 #message {
 	height:200px;
 }